<footer class="footer">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body"></div>
                <div class="panel-footer clearfix">
                <ul class="targets list-inline list-unstyled" style="">
                    <li>2017 &copy; Dlangchina. All Rights Reserved.</li>
                    <li><a href="http://www.miitbeian.gov.cn/" target="_blank"></a></li>
                    <li>
                        Powered by <a href="https://github.com/huntlabs/huntforum">huntforum</a>
                        <a target="_blank" href="https://github.com/huntlabs/huntforum" class="if i-github"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>

</body>
</html>