{% include "../header.html" %}
<div class="masthead" id="content-container">
<div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
                <form class="reg-page" action="/login" method="post" id="login-form" novalidate="novalidate">
                    <div class="reg-header">
                        <h2>登录你的账号</h2>
                        <p>还没有账户?点此<a href="/join">注册</a></p>
                    </div>
                                    <div class="group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="if i-user"></i></span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="用户名或者邮箱" value="">
                        </div>
                    </div>
                    <div class="group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="if i-password"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="密码" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 checkbox">
                                                </div>
                        <div class="col-md-6 text-right">
                            <a href="/resetting/request" class="forgot-password">找回密码</a>
                        </div>
                    </div>
                                        <input type="hidden" name="_csrf_token" value="er4nvPhGTfzBcPaWiy-ykeB5Z7Dt9U5RU9D7kJX3k3s">
                                    <button class="btn btn-md u-btn-primary btn-block" type="submit">登录</button>
                    <div class="cross-line">
                        <span>或者使用</span>
                    </div>
                    <ul class="list-inline text-center social-connection">
                        <li class="list-inline-item ">
                            <a href="#" class="btn btn-sm u-btn-outline-black"><i class="if i-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-sm u-btn-outline-blue"><i class="if i-qq"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-sm u-btn-outline-red"><i class="if i-weibo"></i></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
    {% include "../footer.html" %}