{% include "../header.html" %}
<title>加入Dlangchina</title>
<div class="masthead" id="content-container">
<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="fos_user_registration_form" method="post" action="/join" class="reg-page" id="register-form" novalidate="novalidate">
                    <div class="reg-header">
                        <h2>注册一个新账户</h2>
                        <p>已经有账户?点此<a href="/login">登录</a>你的账户</p>
                    </div>
                    
                                        
                    <div class="group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="if i-user"></i></span>
                            <input type="text" id="fos_user_registration_form_username" name="username" required="required" maxlength="180" pattern=".{2,}" class="form-control form-control" placeholder="你的用户名">
                        </div>
                        
                    </div>
                    <div class="group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="if i-email"></i></span>
                            <input type="email" id="fos_user_registration_form_email" name="email" required="required" class="form-control form-control" placeholder="你的邮箱">
                        </div>
                        
                    </div>
                    <div class="group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="if i-password"></i></span>
                            <input type="password" id="fos_user_registration_form_plainPassword_first" name="password" required="required" autocomplete="new-password" class="form-control form-control" placeholder="设置密码">
                        </div>
                        
                    </div>
                    <!--<div class="group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="if i-password"></i></span>
                            <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password" class="form-control form-control" placeholder="重复上面的密码">
                        </div>
                        
                    </div>-->

    
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-block u-btn-primary" type="submit">注册</button>
                        </div>
                    </div>
                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="1W07jlJ53VKAPjaTo0T2S5IJxPCetBNNHiYoxROoOYQ"></form>
            </div>
        </div>
    </div>
</div>
    {% include "../footer.html" %}